/* TABLES */
table {
    border-collapse: collapse;
    display: block;
    overflow: auto;
  }
  
  @media screen and (min-width: 760px) {
    table {
      display: table !important;
    }
  }
  
  table thead th {
    border: 1px solid rgba(237, 237, 237, 0.05);
  }
  
  th,
  td {
    padding: 4px 8px;
    border: 1px solid rgba(237, 237, 237, 0.05);
  }
  
  